body {
    background-color: rgb(125, 209, 237);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin: auto;
    text-size-adjust: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  img {
    margin: auto;
  }
  #imageSpaceRight {
    margin-right: 38px;
  }
  p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

