body {
    background-color: rgb(128, 128, 128);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin: auto;
    font-size: 36px;
  }
  img {
    margin: auto;
  }
  #imageSpaceRight {
    margin-right: 28px;
  }
  p{
    font-size: 16px;
  }
  a{
    font-size: 16px;
  }


